html {

 background: #DFF6FF;
 font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

}


.scrollbar {

position: absolute;
width: 100%;
height: 800px;
left: 0px;
top: 0px;
overflow-y: scroll;
color: black;
}



.background {

position: absolute;
width: 1158px;
height: 2946px;
left: 0px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.4);
}


.photodeprofil {
position: absolute;
width: 515px;
height: 598px;
left: 0px;
top: 0px;
}

div h1 {
position: absolute;
width: 280px;
height: 38px;
left: 553px;
top: 179px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #243572;
}

div h2 {

position: absolute;
width: 464px;
height: 64.92px;
left: 552px;
top: 231px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 75px;

color: #243572;

}
.barre {
position: absolute;
width: 20em;
height: 0em;
left: 34.75em;
top: 20em;

border: 2em solid #DFF6FF;
transform: rotate(-3.19deg);
}

.projets {

position: absolute;
width: 1158px;
height: 2348px;
left: 0px;
top: 598px;

background: #FFFAC9;

}

.projets h1 {
position: absolute;
width: 310px;
height: 200px;
left: 0px;
top: 200px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 144px;
line-height: 169px;

color: #FCF3AF;

transform: rotate(-90deg);
}

article .couverturefler img {
position: absolute;
width: 400px;
height: 500px;
left: 670px;
top: 150px;
}

article .Projet2 img {

position: absolute;
width: 400px;
height: 500px;
left: 105px;
top: 775.6px;

background: #C4C4C4;

}



  	                      /*Scroll here first*/  

.line {

position: absolute;
width: 2235px;
height: 0px;
left: 0px;
top: 1600px;

border: 2px solid #F5694C;
transform: rotate(90deg);

}

.scroll {

position: absolute;
width: 128px;
height: 21px;
left: 1053px;
top: 355px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #F5694C;

transform: rotate(-90deg);

}

.Ellipse {

position: absolute;
width: 48px;
height: 48px;
left: 1094px;
top: 427px;

background: #FFFFFF;
border: 4px solid #F5694C;
box-sizing: border-box;
border-radius: 50%;

}


.arrow {

position: absolute;
width: 22.09px;
height: 22.5px;
left: 1107px;
top: 439px;

}

/*nav

.menu {

position: sticky;
width: 100%;
height: 150px;
left: 0px;
top: 720px;
background: #FFFFFF;

}



.linemenu1

{
position: sticky;
width: 20px;
height: 0px;
left: 300px;
top: 680px;

border: 1px solid #F5694C;
transform: rotate(90deg);
}

.linemenu2

{
position: sticky;
width: 20px;
height: 0px;
left: 615px;
top: 680px;

border: 1px solid #F5694C;
transform: rotate(90deg);
}

.linemenu3

{
position: sticky;
width: 20px;
height: 0px;
left: 910px;
top: 680px;

border: 1px solid #F5694C;
transform: rotate(90deg);
}



.menu {

position: sticky;
}

*/



body {

	margin: 0;
}

.Contexte {

	background-color: white;
}

.portraitJF {

	border-radius: 0 0 0 100%;
	position: absolute;
	left: 79%;
	width: 21%;
	top: 0;
	
}

.LogoFler {

	padding: 5%
}












