html {

    font-family: sans;
    margin: 2em;
}


/* */

body {

    line-height: 200%;
}

div {
    font-size: 1em;
    font-family: Marker felt;
    text-align: center;
    margin-bottom: 3em;
    font-stretch: 2em;
}


.infosperso {
margin-left: auto;
margin-right: auto;
width: 18em;
display: block;
font-size: 24px;


}

span ul {

    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 5em;
}

span li {

    padding: 7em;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f8cb02;
    border-radius: 5px;
    margin: 1em;

}



   




a {
    color: #f8cb02

}

ul {
    list-style: none
}

 section.blue {

      background-color: #bfd9ee;
      padding: 1em 2em 2em 2em;
}



header {margin-left: 3em;
        color: #f8cb02;


}



.article {
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;

}

.schema {

    margin-left: auto;
margin-right: auto;
width: 38em;
display: block;

}

.photos {

 display: inline-flex;
 margin: auto;

}




