html {

    font-family: sans;
}


/* */

body {

    line-height: 200%;
}

div {
    font-size: 1em;
    font-family: Marker felt;
    text-align: center;
    margin-bottom: 5em;
    font-stretch: 2em;
}


.infosperso {
margin-left: auto;
margin-right: auto;
width: 18em;
display: block;
font-size: 24px

}



a {
    color: #f8cb02

}

ul {
    list-style: none
}


.Fler {

  background-color: #bfd9ee;
}

h2, h3 {margin-left: 3em;


}

h2 {
    color: #f8cb02;
}

.article {
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;

}

.schema {

    margin-left: auto;
margin-right: auto;
width: 38em;
display: block;

}

.photos {

 display: inline-flex;
 justify-content: flex-end;
}


